@font-face {
  font-family: 'Lab';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
}

@font-face {
  font-family: 'Kid A';
  src: url('../src/fonts/KidA-Display.ttf') format('truetype');
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

.hidden {
  display: none;
}

#clock, #greeting, #quote, #weather, li, #label-todo, #tdsf {
  font-family: 'Kid A', 'Lab';
  font-weight: normal;
  font-style: normal;
  /* background-color: black; */
}

#label-todo {
  color: gold;
  font-size: 50;
}

#greeting {
  color: chartreuse;
  line-height: 1.8;
  background-color: rgba( 25, 0, 0, 0.5);
  font-size: 60px;
}

#clock {
  color: yellow;
  font-size: 200px;
  margin-bottom: auto;
  background-color: rgba( 25, 0, 0, 0.5);
}

body {
  background-size: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  margin: 10px;
  display: grid;
  grid-template-columns: minmax(290px, 1fr) minmax(1050px, 2fr) minmax(290px, 1fr);
  grid-template-rows: 180px 670px 50px;
}

#todotodo {
  background-color: rgba( 25, 0, 0, 0.5 );
  text-align: center;
  padding-top: 20px;
}

#todotodo label{
  font-size: 50px;
}

#quote {
  background-color: rgba( 25, 0, 0, 0.5 );
  padding-top: 20px;
  text-align: center;
}

#quote span {
  display: block;
  text-align: center;
}

#quote #tdsf {
  color:aqua;
  font-size: 60px;
  margin-top: 0;
  border-bottom: 2px solid crimson;
}

#todo-form input, #login-form input {
  border: none;
  border-bottom: 2px solid yellowgreen;
  background: none;
  color: yellowgreen;
  font-family: 'Kid A', 'Lab';
}

#login-form {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: right;
}

#weather {
  grid-column-start: 1;
  grid-column-end: 4;
  color: white;
  text-align: center;
  display: inline-block;
}

#login-form button{
  background:none;
  border: none;
  font-family: "Kid A", "Lab";
  color: wheat;
}

#todo-form input{
  width: 300px;
  font-size: large;
}

#todo-list {
  padding: 0;
}

.loginclock {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

.logingreeting {
  grid-column-start: 1;
  grid-column-end: 4;
}

h1, #clock{
  text-align: center;
}

#quote #tdf{
  margin-bottom: 60px;
  color: gold;
  font-size: large;
  overflow: auto;
}

#tdf::-webkit-scrollbar {
  display: none;
}

#quote #tdfd{
  color: chartreuse;
  padding-top: 60px;
  border-top: 2px solid crimson;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style: none;
}
li button {
  background:none;
  border: none;
  margin-left: 2px;
}

li {
text-align: left;
color: aqua;
margin-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
}

#todo-form {
  text-align: center;
  line-height: 5;
}

#weather button {
  background: none;
  font-family: "Kid A", "Lab";
  border: 2px solid crimson;
  color: chartreuse;
}